@import "helpers/_variable.scss";
@import "base/_global.scss";
@import "layaout/_header.scss";
@import "layaout/_section.scss";
@import "layaout/_footer.scss";

@media (max-width: 900px) {
  textarea.form-control{
    margin-top: 33%;
    max-height: 100px;
    max-width: 100%;
  }
	// .col-xs-1 {width:50%;}
	// .fa-star-o{text-align: right;}
	// .fa-trash{text-align: left;}
	// .lista {
	// 	text-align: center;
	// 	// input{margin-right: -10%;}
	// }
}
//queria que la estrella funcionara pero la intencion es lo que vale !!
