//--- margin
$mt-5 : 5%;
$mt-3 : 3%;
//-----------bg colors 
$bg-pincipal : #7b1fa2;
$bg-iconos : #727272;
$bg-body : #e91e6b;
$bg-darken: #c2215b;
$bg-light: #ffffff;
$bg-claro: #f8bbd0;
 //--------text
 $p-text: #212121;
 $s-text: #727272;
