.lista {
	color : $p-text;
	margin-top: $mt-3;
	border-bottom: 1px solid $bg-darken;
	padding: 0% 3%;
	label {font-size: 25px; padding-left: 2%;color: $s-text;}
	a{color:$bg-darken;}
	a:hover{color: $bg-pincipal;}
	.fa {font-size: 250%;}
	.tachado{text-decoration: line-through;width:60%;}
}
@media (max-width: 900px) {
  textarea.form-control{
    margin-top: 33%;
    max-height: 100px;
    max-width: 100%;
 }
.peque {width:50%;}
	.fa-star-o{text-align: right;float: clear;}
	.fa-trash{text-align: left;float:clear;}
	.lista {
		text-align: center;
		input{margin-right: -10%;}
	}
}
//queria que la estrella funcionara pero la intencion es lo que vale !!


